@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims
@using Finder.Web.Models.DiscordAPIModels
@using Finder.Web.Repositories
@inject IUnitOfWork UnitOfWork
@model Finder.Web.Models.DTO.GuildDashboardDTO
@{
    ViewData["Title"] = "Dashboard";
    ViewData["DarkMode"] = await UnitOfWork.UserSettings.GetUserSettingAsync(ulong.Parse(User.Claims.First(x => x.Type == ClaimTypes.NameIdentifier).Value), "DarkMode") ?? "false";
    if (Model.Guild == null) {
        throw new Exception("Guild is null");
    }
    if (Model.GuildMembers == null) {
        throw new Exception("GuildMembers is null");
    }
    if (Model.GuildChannels == null) {
        throw new Exception("GuildChannels is null");
    }
}

<img src=@($"https://cdn.discordapp.com/icons/{Model.Guild.Id}/{Model.Guild.Icon}.png") alt="Guild Icon" width="192" div class="img-fluid rounded-circle mx-auto d-block">
<h1 class="text-center mb-3">@(Model.Guild.Name)</h1>
@switch(Model.Guild.PremiumTier) {
    case PremiumTier.TIER_1:
        <img src="https://support.discord.com/hc/article_attachments/360029035292/mceclip5.png" alt="Level 1 Server Boost" class="rounded-5 mx-auto d-block"/>
        break;
    case PremiumTier.TIER_2:
        <img src="https://support.discord.com/hc/article_attachments/360029035032/mceclip3.png" alt="Level 2 Server Boost" class="rounded-5 mx-auto d-block"/>
        break;
    case PremiumTier.TIER_3:
        <img src="https://support.discord.com/hc/article_attachments/360029034411/mceclip4.png" alt="Level 3 Server Boost" class="rounded-5 mx-auto d-block"/>
        break;
}
<div class="row mt-3">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Members</h5>
                <p class="card-text">@(Model.GuildMembers.Count) Members</p>
                <ul class="list-group" style="height: 25vh; overflow:scroll; -webkit-overflow-scrolling: touch;">
                    @foreach (var member in Model.GuildMembers) {
                        <li class="list-group-item">@(member.Nick ?? member.User.Username)</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Addons</h5>
                <p class="card-text">0/4 Addons Enabled</p>
                <form class="form-check form-switch" style="padding-left: 0; padding-right: 0" action=@($"/dashboard/{Model.Guild.Id}/message") method="post">
                    <div class="rounded" style="background-color: #444">
                        <div class="m-3 ms-5 ps-0">
                            <input class="form-check-input" type="checkbox" id="TicTacToeAddon" name="TicTacToeAddon" value="true" @(await UnitOfWork.Addons.AddonEnabled(Model.Guild.Id, "TicTacToe") ? "checked=\"checked\"" : "")/>
                            <label class="form-check-label" for="TicTacToeAddon">TicTacToe Adddon</label>
                        </div>
                        <div class="m-3 ms-5 ps-0">
                            <input class="form-check-input" type="checkbox" id="EconomyAddon" name="EconomyAddon" value="true" @(await UnitOfWork.Addons.AddonEnabled(Model.Guild.Id, "Economy") ? "checked=\"checked\"" : "")/>
                            <label class="form-check-label" for="EconomyAddon">Economy Addon</label>
                        </div>
                        <div class="m-3 ms-5 ps-0">
                            <input class="form-check-input" type="checkbox" id="LevelingAddon" name="LevelingAddon" value="true" @(await UnitOfWork.Addons.AddonEnabled(Model.Guild.Id, "Leveling") ? "checked=\"checked\"" : "")/>
                            <label class="form-check-label" for="LevelingAddon">Leveling Adddon</label>
                        </div>
                        <div class="m-3 ms-5 ps-0">
                            <input class="form-check-input" type="checkbox" id="TicketingAddon" name="TicketingAddon" value="true" @(await UnitOfWork.Addons.AddonEnabled(Model.Guild.Id, "Ticketing") ? "checked=\"checked\"" : "")/>
                            <label class="form-check-label" for="TicketingAddon">Ticketing Addon</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Server Statistics</h5>
                <div class="card-text">
                    <h5>Approximate Members Online</h5>
                    <p class="text-muted">@(Model.Guild.ApproximatePresenceCount ?? 0)</p>
                    <h5>Owner Id</h5>
                    <p class="text-muted">@(Model.Guild.OwnerId)</p>
                    <h5>Description</h5>
                    <p class="text-muted">@(Model.Guild.Description ?? "No Description")</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Send message in channel</h5>
        <div class="card-text">
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <form action=@($"/dashboard/{Model.Guild.Id}/message") method="post">
                        <div class="form-group">
                            <label for="channelId">Channel</label>
                            <select class="form-select" id="channelId" name="channelId">
                                @foreach (var channel in Model.GuildChannels.Where(channel => channel.Type == ChannelTypes.GUILD_TEXT)) {
                                    <option value="@channel.Id">@channel.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <input type="text" class="form-control" id="message" name="message" placeholder="Enter Message"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
